* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.window {
	border: solid black 1px;
	position: absolute;
    display: inline-block;
    width: 48%;
	vertical-align: top;
	overflow: hidden;
}

#graphWindow {
	background-color: blue;
}
#automataWindow {
	background-color: green;
}

#graph {
	min-width: 100%;
	text-align: center;
}

#automata, #graph {
    display: inline-block;
}

#graphLegend {
	margin: 2%;
	min-width: 99%;
	display: inline-block;
}

#tsvFile, #anFile {
	display: inline-block;
	vertical-align: top;
}

.dataBox {
	overflow: hidden;
}

#graphBox {
	background-color: #00FFFF;
}

#automataBox {
	background-color: #FFFF00;
}

.reduce {
	float: right;
}

.reduce:hover {
	cursor: pointer;
}

input {
	display: inline-block;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
}

.windowTitle {
    border-bottom: solid black 1px;
	padding: 1%;
}

.windowTitle:hover {
	cursor: move;
}

h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

h2 {
	margin-left: 1%;
	display: inline-block;
}

.enabledLegend, .disabledLegend {
	display: inline-block;
	margin: 3%;
	font-weight: bold;
	font-size: 85%;
}

.enabledLegend {
	color: black;
}

.disabledLegend {
	color: rgb(150, 150, 150);
}

.enabledLegend:hover, .disabledLegend:hover {
	cursor: pointer;
}

.arc:hover {
  cursor: pointer;
}

.arc {
   position: absolute;
   height: 15px;
   width: 15px;
   background-color: blue;
}
